evolution.193-203-182-39.sslip.io {
    reverse_proxy localhost:8080
}

:80 {
    @wa-api host wa.localhost
    handle @wa-api {
        reverse_proxy evolution:8080
    }

    @audio-svc host audio.localhost
    handle @audio-svc {
        reverse_proxy audio-svc:8000
    }

    respond "AeR Digital — Ok" 200
}
